/* obs: esse reponsivo é para ajustar no dispositivo mobile. 
- Na class pokedex, os valores utilizados são o mesmo do global (web).
- o @media é utizado para demarcar a partir de qual medida as regras abaixo serão aplicadas.
*/
@media(max-width: 750px){
   body{
     font-size: 12px;  
   }
   
    .pokedex{
       flex-direction: column;
       padding: 30px 0;

   }
   .cartao-pokemon{
       max-width: 300px;
   }

   .cartão-pokemon .cartao-imagem{
       width: 200px;
       height: 200px;
   }
   .cartao-pokemon .cartao-informacoes{
       padding: 60px 30px 30px;
       margin-top: -50px;
   }
   .cartao-pokemon .cartao-informacoes .informacoes{
       display: flex;
       justify-content: space-between;
       padding: 0;
   }
   .cartao-pokemon .cartao-informacoes h3{
       font-size: 16px;
          }
  .listagem{
      max-width: 300px;

  }
  .listagem ul{
      display: flex;
      gap: 8px;
      flex-wrap: wrap;/* quando chegar ao tamanho limite, no caso 300px, ele vai colocar um abaixo do outro. */
      justify-content: space-between;
  }
  .listagem .pokemon {
      width: 140px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; 
      margin-bottom: 0;
      border-radius: 8px;
  }
  .listagem .pokemon span{
      padding-right: 5px;
        }
 .cartao-pokemon .cartao-imagem{
width: 250px;
height: 250px;
}
.cartao-pokemon img{
max-height: 100%;
}
}
